html {
    font-family: sans-serif;
    box-sizing: border-box;
    font-size: 10px;
    
}

*, *:before, *:after {
    box-sizing: inherit;
  }
  
body {
    padding: 0;
    margin: 0;
  }

div{
    padding: 10px;
    background-color: antiquewhite;
}

h1 {
    background: #0a0eee;
    text-align: center;
    font-size: 10rem;
    line-height: 1;
    margin-bottom: 0;
    color: white;
    margin-top: 0;
}

h2{
    text-align: center;
    font-size: 8rem;
}

li {
    font-weight: bold;
    font-size: 2.5rem;
    color: black;
}

.container {
    align-items: center;
    justify-content: center;
    font-style: bold;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: repeat(10,70px);

}